@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&');
*{
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a
}
/*headings and logo*/
h1 {
    font-family: abril fatface, serif;
    color: #4cbb17;
    font-weight: 400;
    text-align: center;

}
    

h2 {
    font-family: oswald, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: #252525;
}
#logo{
    width: 200px;
    min-height: 200px;
    background-image: url("./images/istockphoto-1470623755-612x612.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: auto;
}


     


